@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
.hero {
  padding: 1.8rem;
  margin-bottom: 104px;
}
.hero__background {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.hero__background-image {
  width: 100%;
}
.hero__logo {
  margin: 104px auto;
}
.hero__title {
  font-size: 2.3rem;
}
.hero__paragraph {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}
.hero__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 3;
}
.hero__buttons--green {
  background: hsl(171, 66%, 44%);
  padding: 20px 80px;
  border-radius: 30px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  margin: 15px auto;
  box-shadow: 4px 4px 12px 4px hsla(210, 10%, 33%, 0.2);
}
.hero__buttons--violet {
  background: hsl(233, 100%, 69%);
  padding: 20px 80px;
  border-radius: 30px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  margin: 15px auto;
  box-shadow: 4px 4px 12px 4px hsla(210, 10%, 33%, 0.2);
}

.snippets {
  padding: 1.8rem;
  margin-bottom: 104px;
}

.snippets-description__title {
  font-size: 2.2rem;
}
.snippets-description__paragraph {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.snippets-item__title {
  font-size: 1.7rem;
  margin-top: 3rem;
}
.snippets-item__paragraph {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.snippets-image {
  max-width: 100%;
}

.snippets-img {
  max-width: 100%;
}

.access {
  padding: 1.8rem;
  margin-bottom: 104px;
}

.access-description__title {
  font-size: 2.2rem;
}
.access-description__paragraph {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.access-image {
  max-width: 100%;
}

.access-img {
  max-width: 100%;
}

.workflow {
  padding: 1.8rem;
  margin-bottom: 104px;
}

.workflow-description__title {
  font-size: 2.2rem;
}
.workflow-description__paragraph {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.workflow-item {
  margin-top: 104px;
}
.workflow-item__title {
  font-size: 1.7rem;
  margin-top: 3rem;
}
.workflow-item__paragraph {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.partners {
  padding: 1.8rem;
  margin-bottom: 104px;
}

.partners__logo {
  display: flex;
  flex-direction: column;
}

.partners__logo-item {
  padding: 50px 0;
}

.download {
  padding: 1.8rem;
  margin-bottom: 104px;
}

.download-description__title {
  font-size: 2.3rem;
}
.download-description__paragraph {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

.download__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 3;
}
.download__buttons--green {
  background: hsl(171, 66%, 44%);
  padding: 20px 80px;
  border-radius: 30px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  margin: 15px auto;
  box-shadow: 4px 4px 12px 4px hsla(210, 10%, 33%, 0.2);
}
.download__buttons--violet {
  background: hsl(233, 100%, 69%);
  padding: 20px 80px;
  border-radius: 30px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  margin: 15px auto;
  box-shadow: 4px 4px 12px 4px hsla(210, 10%, 33%, 0.2);
}

footer {
  padding: 1.8rem;
  margin-bottom: 14px;
  background: hsl(0, 0%, 94%);
}

.footer__logo {
  margin: 54px auto;
}

.footer__logo-img {
  width: 64px;
  height: 64px;
}

.footer__link {
  padding-top: 36px;
  padding-bottom: 0px;
}

.footer__links-column {
  padding: 0px;
}

.footer__social {
  margin-top: 3rem;
}

.social__media-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  color: hsl(201, 11%, 66%);
  font-size: 1.2rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
}

ul {
  list-style-type: none;
  padding: 0;
}/*# sourceMappingURL=main.css.map */