.access {
	padding: 1.8rem;
	margin-bottom: 104px;
}

.access-description {
	&__title {
		font-size: 2.2rem;
	}
	&__paragraph {
		line-height: 1.6rem;
		margin-bottom: 2rem;
	}
}

.access-image {
	max-width: 100%;
}
.access-img {
	max-width: 100%;
}
