.download {
	padding: 1.8rem;
	margin-bottom: 104px;
}

.download-description {
	&__title {
		font-size: 2.3rem;
	}
	&__paragraph {
		line-height: 1.6rem;
		margin-bottom: 2rem;
	}
}

.download {
	&__buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		gap: 3;

		&--green {
			background: $strongCyan;
			padding: 20px 80px;
			border-radius: 30px;
			color: #fff;
			outline: none;
			border: none;
			font-size: 1.2rem;
			margin: 15px auto;
			box-shadow: 4px 4px 12px 4px hsl(210, 10%, 33%, 0.2);
		}
		&--violet {
			background: $lightBlue;
			padding: 20px 80px;
			border-radius: 30px;
			color: #fff;
			outline: none;
			border: none;
			font-size: 1.2rem;
			margin: 15px auto;
			box-shadow: 4px 4px 12px 4px hsl(210, 10%, 33%, 0.2);
		}
	}
}
