.hero {
	padding: 1.8rem;
	margin-bottom: 104px;
	@media (min-width: $tablet) {
		max-width: 768px;
		margin: 0 auto;
	}

	&__background {
		position: absolute;
		width: 100%;
		z-index: -1;
	}
	&__background-image {
		width: 100%;
	}
	&__logo {
		margin: 104px auto;
	}
	&__title {
		font-size: 2.3rem;
	}
	&__paragraph {
		line-height: 1.6rem;
		margin-bottom: 2rem;
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		gap: 1rem;
		@media (min-width: $tablet) {
			flex-direction: row;
		}

		&--green {
			background: $strongCyan;
			padding: 20px 50px;
			border-radius: 30px;
			color: #fff;
			outline: none;
			border: none;
			font-size: 1rem;
			margin: 15px 0;
			box-shadow: 4px 4px 12px 4px hsl(210, 10%, 33%, 0.2);
		}
		&--violet {
			background: $lightBlue;
			padding: 20px 50px;
			border-radius: 30px;
			color: #fff;
			outline: none;
			border: none;
			font-size: 1rem;
			margin: 15px 0;
			box-shadow: 4px 4px 12px 4px hsl(210, 10%, 33%, 0.2);
		}
	}
}
